/*====================================================================================
====================================CONTENT_SECTIONS==================================
====================================================================================*/

.content-section {
  padding: var(--spacing-large) 0;
}

.monthly-pick {
  padding: var(--spacing-large) 0;
}

.monthly-pick-header,.featured-books-header {
  background-color: var(--primary-color);
  padding: 1px 20px;
  margin-bottom: 30px;
  text-align: center;
}

.monthly-pick-header h2, .featured-books-header h2 {
  margin: 0;
  font-size: 40px;
}

.monthly-pick-content {
  background-color: var(--background-color);
  border-radius: 8px;
  padding: 20px;
}
#monthly-pick .book-showcase {
  text-align: center;
}

#monthly-pick img {
  max-width: 300px;
}


#featured-books .grid-item {
  background-color: white;
}

#join-club {
  background-color: var(--secondary-color);
  color: var(--light-text-color);
}