/*====================================================================================
====================================COMPONENTS========================================
====================================================================================*/

/* Button Styles */
.cta-button-1, .cta-button-2 {
  display: inline-block;
  padding: var(--button-padding);
  font-size: var(--button-font-size);
  text-decoration: none;
  border-radius: var(--border-radius);
  transition: background-color var(--transition-speed) ease, transform var(--transition-speed) ease;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.cta-button-1 {
  background-color: var(--accent-color-1);
  color: var(--light-text-color);
}

.cta-button-2 {
  background-color: var(--accent-color-2);
  color: var(--light-text-color);
}

.cta-button-1:hover, .cta-button-2:hover {
  transform: translateY(-2px);
}

.cta-button-1:hover {
  background-color: var(--accent-color-1-darker);
}

.cta-button-2:hover {
  background-color: var(--accent-color-2-darker);
}

.cta-button-1:active, .cta-button-2:active {
  transform: translateY(0);
}

/* Star Rating Styles */
.star-rating {
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  font-size: 1em;
  font-weight: 550;
  height: 1em;
  line-height: 1;
  overflow: hidden;
  position: relative;
  width: 5.4em;
}

.star-rating::before {
  content: "\f005\f005\f005\f005\f005\★";
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  color: rgb(210, 209, 209);
}

.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}

.star-rating span::before {
  content: "\f005\f005\f005\f005\f005";
  top: 0;
  position: absolute;
  left: 0;
  color: #db7501;
}

/* Loader Styles */
.loader {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;
  border-radius: 100%;  
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@keyframes sk-scaleout {
  0% { 
      transform: scale(0);
  } 100% {
      transform: scale(1.0);
      opacity: 0;
  }
}