/*====================================================================================
====================================CONTENT_SECTIONS==================================
====================================================================================*/

.content-section {
  padding: var(--spacing-large) 0;
}

#monthly-pick .book-showcase {
  text-align: center;
}

#monthly-pick img {
  max-width: 300px;
}

#featured-books .grid-item {
  background-color: var(--light-background-color);
}

#join-club {
  background-color: var(--secondary-color);
  color: var(--light-text-color);
}