/*====================================================================================
====================================HERO_SECTION======================================
====================================================================================*/

.hero-section {
    background-color: var(--secondary-color);
    color: var(--light-text-color);
    text-align: center;
    padding: var(--spacing-large) 0;
    position: relative;
}
  
.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: 1;
}
  
.hero-section .container {
    position: relative;
    z-index: 2;
}
  
.hero-section h1 {
    font-family: var(--heading-font-family);
    font-size: 3em;
    margin-bottom: var(--spacing-medium);
}